estIA.json
{
  "name": "est",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "[   {} ]",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1856,
        992
      ],
      "id": "34be4ad7-3657-4fe4-82fe-5f85beeb3008",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "action": "generate"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        2176,
        896
      ],
      "id": "847f45cf-9691-427e-8cf3-58294972c110",
      "name": "Gerar sessionID"
    },
    {
      "parameters": {
        "jsCode": "// Obtém sessionId dos itens de entrada de forma segura\nlet sessionid1 = null;\nlet sessionid2 = null;\n\ntry {\n  // Tenta obter do primeiro item disponível\n  if ($input.first && typeof $input.first === 'function') {\n    const firstItem = $input.first();\n    if (firstItem && firstItem.json) {\n      sessionid1 = firstItem.json.data || null;\n      sessionid2 = firstItem.json.sessionid || null;\n    }\n  }\n  \n  // Se não encontrou, tenta de $input.item\n  if (!sessionid1 && !sessionid2) {\n    if ($input.item && $input.item.json) {\n      sessionid1 = $input.item.json.data || null;\n      sessionid2 = $input.item.json.sessionid || null;\n    }\n  }\n} catch (error) {\n  // Se houver erro, continua com null\n}\n\n// Sempre retorna um objeto válido\nreturn [{ json: { sessionId: sessionid1 || sessionid2 || null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        1040
      ],
      "id": "61b5378d-26f3-4fb2-a5b6-4579f5a7b3e7",
      "name": "Code1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1552,
        992
      ],
      "id": "c52a6e3e-3f9e-4726-96dc-09996b202a8c",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ade56c50-1520-4760-8df5-e99617d6d3ad",
              "leftValue": "={{ $('Webhook EVO1').first().json.body.data.message.imageMessage.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5a02b83-a177-4c4b-b48e-7ace04e594fa",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3296,
        1392
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Code1').first().json.sessionId }}",
        "messageData": "={{ $('Webhook EVO1').first().json.body.data.message.imageMessage.caption }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}",
        "tail": true
      },
      "id": "e6910d7d-a18c-4188-9892-ba4e00fe3db8",
      "name": "Redis4",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3520,
        1408
      ],
      "credentials": {
        "redis": {
          "id": "v7V6gGEfMZa6VkmD",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Code1').first().json.sessionId }}",
        "messageData": "={{ $('Webhook EVO1').first().json.body.data.message.imageMessage.caption }},{{ $('Analyze image').item.json.content }}",
        "tail": true
      },
      "id": "802fdfe1-1253-403c-bd59-e546e4381189",
      "name": "Redis5",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3520,
        1248
      ],
      "credentials": {
        "redis": {
          "id": "v7V6gGEfMZa6VkmD",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5a342e9-585b-42ea-be44-644adae10199",
              "leftValue": "={{ $json.Redis2 }}",
              "rightValue": "={{ $json.Redis1 }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1359246a-cbef-4abd-a8fd-39d9690c28ac",
      "name": "Compara Get Memory1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4480,
        1088
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Code1').first().json.sessionId }}",
        "messageData": "={{ $('Variáveis').first().json.mensagem }}",
        "tail": true
      },
      "id": "4a1130b1-de48-41a7-967c-38be6ebaee7b",
      "name": "Text Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3520,
        928
      ],
      "credentials": {
        "redis": {
          "id": "v7V6gGEfMZa6VkmD",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Code1').first().json.sessionId }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "ecfb7354-8c9d-4dad-a3a1-37a6f158e3a5",
      "name": "Audio Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3520,
        1088
      ],
      "credentials": {
        "redis": {
          "id": "v7V6gGEfMZa6VkmD",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f336a1ff-e577-489d-a739-1eb8bd509245",
              "name": "Redis2",
              "value": "={{ $json.propertyName }}",
              "type": "string"
            },
            {
              "id": "946d1420-e379-46e3-8fcd-3816340fbabb",
              "name": "Redis1",
              "value": "={{ $('Get Memory 1').item.json.propertyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f56f1ab2-c0ea-4525-a034-ec22bc561a8c",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4320,
        1088
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Code1').first().json.sessionId }}",
        "options": {
          "dotNotation": false
        }
      },
      "id": "45668626-d4fa-48bb-804c-b15258ca8b61",
      "name": "Get Memory 1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3840,
        1088
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "v7V6gGEfMZa6VkmD",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "conversas",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2032,
        1136
      ],
      "id": "1f5b37f8-9f90-4875-9fe8-88e772fa384c",
      "name": "Get Dados",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d88c137-383f-4307-b3cc-1f6a560ea67b",
              "name": "telefone",
              "value": "={{ $('Webhook EVO1').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "7e2f520e-4952-425b-82ca-792cc46680d4",
              "name": "mensagem",
              "value": "={{ $('Webhook EVO1').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "15aaf749-8885-4dbd-8b13-c7d856669357",
              "name": "nome",
              "value": "={{ $('Webhook EVO1').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "de1388b1-a6e4-42df-a6a5-7e9b4594f97d",
              "name": "body.event",
              "value": "={{ $('Webhook EVO1').item.json.body.event }}",
              "type": "string"
            },
            {
              "id": "a3e9171c-f2e4-492d-b0b4-1c81f89797c1",
              "name": "tipodamensagem",
              "value": "={{ $('Webhook EVO1').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "8cd41ab6-bf52-4864-a5f5-8ccd289b2ed1",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "875af2e6-6d9d-4d5f-bbed-6203ba33c7ab",
      "name": "Variáveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        912
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "tipo_da_mensagem",
              "value": "={{ $('Webhook EVO1').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO1').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO1').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO1').item.json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "conteudo_da_mensagem",
              "value": "={{ $('Webhook EVO1').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO1').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO1').item.json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "datahora_hora_da_msg",
              "value": "={{ $('Webhook EVO1').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.content_url",
              "value": "={{ $('Webhook EVO1').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO1').item.json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('Webhook EVO1').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c47e93e8-5cb4-4354-9a1a-556a05cbeece",
      "name": "dados_para_atendimento_humano1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $item(0).$node[\"Compara Get Memory1\"].json[\"Redis2\"];\n\nif (!data) {\n  return [{ json: { mensagem_completa: \"\" } }];\n}\n\nlet array;\ntry {\n  array = Array.isArray(data) ? data : JSON.parse(data);\n} catch (err) {\n  return [{ json: { mensagem_completa: \"[Erro ao converter array]\" } }];\n}\n\nif (!Array.isArray(array)) {\n  return [{ json: { mensagem_completa: \"[Formato inválido]\" } }];\n}\n\nconst mensagem_completa = array.join(\" \");\nreturn [{ json: { mensagem_completa } }];\n"
      },
      "id": "f3ee4aa4-571d-4aea-b536-59a1dcdddbad",
      "name": "Mensagem Completa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5328,
        1168
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "843cb775-b45d-4a56-b70f-4a7f6920d686",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        3248,
        1104
      ],
      "credentials": {
        "openAiApi": {
          "id": "GSeydj58nvKIEdSr",
          "name": "SaaS Lumi"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Code1').first().json.sessionId }}",
        "options": {}
      },
      "id": "fb32e14e-23cc-4a5a-a8e8-36ed173e82a8",
      "name": "Get Memory 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4160,
        1088
      ],
      "credentials": {
        "redis": {
          "id": "v7V6gGEfMZa6VkmD",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "12ca75af-9a41-491c-8077-ee79892e23f3",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4928,
        1056
      ],
      "id": "fa8da393-8621-4e0f-8d5b-93b8e2778180",
      "name": "If5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "estest",
        "options": {}
      },
      "id": "f546886c-08bc-46d3-a009-b7de9bbc76bd",
      "name": "Webhook EVO1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1424,
        480
      ],
      "webhookId": "c76e1286-fea2-4aec-8765-2a6819a692f9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-fromme-1",
              "leftValue": "={{ $('Webhook EVO1').item.json.body.data.key.fromMe || false }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        848
      ],
      "id": "f4958da8-34c9-4e8b-b7c2-b3383e5e6a0f",
      "name": "If Mensagem Recepcionista",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        992,
        912
      ],
      "id": "91266c8d-faf3-48db-9566-ce7115994dbe",
      "name": "Webhook EVO"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Webhook EVO1').item.json.body.data.pushName || $json.nome || '' }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Webhook EVO1').item.json.body.data.key.remoteJid }}"
            },
            {
              "fieldId": "data_ultima_msg",
              "fieldValue": "={{ $('Webhook EVO1').item.json.body.date_time }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2016,
        896
      ],
      "id": "ff888bb1-cfb2-454f-950d-d4d514714290",
      "name": "Supabase4",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Variáveis').item.json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1712,
        992
      ],
      "id": "4405e2a2-757e-4d87-8da7-d2204bcaf52f",
      "name": "Supabase - SaaS Lumi",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "numero",
              "fieldValue": "={{ $('Webhook EVO1').first().json.body.data.key.remoteJid || $json.telefone || '' }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Webhook EVO1').first().json.body.data.pushName || $json.nome || '' }}"
            },
            {
              "fieldId": "data_mensagem",
              "fieldValue": "={{ $('Webhook EVO1').first().json.body.date_time || $json.data_mensagem || $now.toISO() }}"
            },
            {
              "fieldId": "mensagem_ia",
              "fieldValue": "={{ $json.output || '' }}"
            },
            {
              "fieldId": "mensagem_lead",
              "fieldValue": "={{ $('Mensagem Completa').first().json.mensagem_completa || $json.mensagem_humano || '' }}"
            },
            {
              "fieldId": "sessionid",
              "fieldValue": "={{ $('Code1').first().json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7680,
        720
      ],
      "id": "8788466f-fb81-4ffa-ac60-ab9d07f76654",
      "name": "Criar - Conversas",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mesangem do Lead para a IA(se existir): {{ $('Mensagem Completa').first().json.mensagem_completa || $json.mensagem_humano || '' }}\n\nMensagem do lead para a atendente humana: {{ $json.mensagem_lead || '' }}\n\nResposta da IA para o Lead: {{ $('IA Atendente').first().json.output || '' }}\n\nMensagem do Atendente Humano (quando houver): {{ $json.mensagem_humano || '' }}\n\nTipo de Mensagem: {{ $json.tipo_mensagem || 'IA' }}\n",
        "options": {
          "systemMessage": "=🧠 SYSTEM MESSAGE — CÉREBRO | EST! EST!! EST!!! RISTORANTE\n\n📅 DATA ATUAL:\n{{ $now.weekdayLong }}, {{ $now.format('DD/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n\n📛 IDENTIDADE & MISSÃO\nVocê é o CÉREBRO da IA do restaurante Est! Est!! Est!!! Ristorante.  \nSua função é registrar, organizar e atualizar com precisão o histórico e os dados de cada cliente, servindo como **memória central para a IA Atendente**.\n\n---\n\n🧩 CAMPOS GERENCIADOS\n\n- `nome`: Nome do cliente\n- `telefone`: Identificador do cliente\n- `etapa`: Fase do funil (ex: interesse, reserva_confirmada, cancelado)\n- `contexto`: Histórico da intenção e decisões\n- `numero_pessoas`: Tamanho do grupo\n- `data_reserva`: Data solicitada\n- `horario_reserva`: Horário escolhido\n- `mesa_especifica`: Mesa escolhida pelo cliente (se aplicável)\n- `mesa_sugerida`: Mesa(s) sugerida(s) pela IA\n- `cancelamentos`: Histórico de cancelamentos (se houver)\n- `canal_de_origem`: WhatsApp, Instagram, etc.\n- `data_ultima_msg`: Última interação com a IA\n- `conversation_id`: ID do histórico de conversa\n\n---\n\n🧠 FUNCIONAMENTO E REGRAS\n\n1. Toda reserva sugerida pela IA é baseada na **disponibilidade real das mesas**, usando a tabela `mesas` e a Tool `buscar_reservas`.\n\n2. Nunca tente \"recriar\" ou deduzir qual mesa foi sugerida.  \nApenas registre com exatidão o que foi informado pela IA nos campos:\n   - `mesa_sugerida`\n   - ou `mesa_especifica`\n\n3. Ao receber um novo dado:\n   - Leia o `contexto` atual com atenção\n   - Atualize os campos individualmente\n   - **Não apague dados anteriores** a menos que estejam sendo sobrescritos\n   - Se um campo vier vazio, mantenha o valor anterior\n\n4. Atualize a etapa sempre que a jornada do cliente avançar:\n   - De `interesse` → para `reserva_confirmada` ou `cancelado`\n\n5. **MENSAGENS DE RECEPCIONISTA DO RESTAURANTE:**\n   - Quando receber uma mensagem com tipo_mensagem: HUMANO, identifique que foi enviada pela RECEPCIONISTA DO RESTAURANTE\n   - **SEMPRE** inclua essas mensagens no contexto, indicando claramente que foram enviadas pela recepcionista\n   - **FORMATO OBRIGATÓRIO** para atualizar contexto: [RECEPCIONISTA entrou em contato e disse: ...] Cliente respondeu: ... ou [RECEPCIONISTA DO RESTAURANTE disse: ...]\n   - **IMPORTANTE**: Quando a recepcionista enviar uma mensagem, você DEVE atualizar o contexto mencionando explicitamente que A RECEPCIONISTA entrou em contato ou A RECEPCIONISTA DO RESTAURANTE disse\n   - Mantenha o histórico completo da conversa, incluindo TODAS as interações (IA e recepcionista)\n   - Se a recepcionista confirmar, alterar ou cancelar uma reserva, atualize o contexto e a etapa correspondente\n   - **QUANDO RECEPCIONISTA ATENDE**: A IA para de responder automaticamente. Todas as mensagens do cliente durante esse período devem ser salvas no contexto para que a IA saiba o que aconteceu quando voltar a atender\n\n---\n\n🔄 EXEMPLOS DE USO\n\n✔️ Atualizar etapa:\n\n```json\n{\n  \"telefone\": \"5531999999999@...\",\n  \"etapa\": \"reserva_confirmada\",\n  \"data_ultima_msg\": \"2025-07-09T10:00:00\"\n}\n✔️ Atualizar contexto (com mensagem de humano):\n\n```json\n{\n  \"telefone\": \"5531999999999@...\",\n  \"contexto\": \"Cliente confirmou reserva para 9 pessoas às 19h. IA sugeriu M9+M10+M11. [ATENDENTE HUMANO confirmou a reserva e informou sobre o terraço]. Cliente aceitou. Deseja área do terraço.\"\n}\n```\n\n✔️ Registrar cancelamento:\n\n```json\n{\n  \"telefone\": \"5531999999999@...\",\n  \"etapa\": \"cancelado\",\n  \"contexto\": \"Cliente cancelou reserva de 4 pessoas para sábado às 12h.\"\n}\n```\n\n🎯 OBJETIVO FINAL\nSer a memória fiel e consistente do relacionamento com o cliente, garantindo que a IA Atendente ofereça um atendimento contínuo, personalizado e com base em dados reais e atualizados, incluindo todas as interações (IA e humanos)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        6384,
        592
      ],
      "id": "4a4e6793-a26d-4f28-9c08-9755a589c02d",
      "name": "Cerebro da IA",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        6576,
        1776
      ],
      "id": "cb399505-52e6-42a7-8d3f-5afcca412608",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "GSeydj58nvKIEdSr",
          "name": "SaaS Lumi"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code1').item.json.sessionId }}",
        "tableName": "n8n_chat_histories_agendamento"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        6768,
        1856
      ],
      "id": "8f48623f-516d-400e-a681-251eed590f42",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "2Z5MJhuHcz33PCiu",
          "name": "Postgres_bistro"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        6896,
        1856
      ],
      "id": "0e6f3112-157d-451b-87e9-f88245ed93d2",
      "name": "Calculator"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini-2025-04-14",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        6160,
        816
      ],
      "id": "cf4ce4c9-8ce2-4656-8d87-8c4c3081a8d1",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "GSeydj58nvKIEdSr",
          "name": "SaaS Lumi"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code1').first().json.sessionId || $('Getarow9').first().json.sessionid }}",
        "tableName": "n8n_chat_histories_cerebro"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        6320,
        800
      ],
      "id": "7d62f21b-428e-4ae7-b3e5-f280adc3bcff",
      "name": "Postgres Chat Memory4",
      "credentials": {
        "postgres": {
          "id": "2Z5MJhuHcz33PCiu",
          "name": "Postgres_bistro"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        6448,
        816
      ],
      "id": "5863cb98-b2a4-49f0-bcbe-d7bc94d52632",
      "name": "Calculator4"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Variáveis').first().json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contexto",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6656,
        592
      ],
      "id": "c4819d3b-6768-47fe-85bf-8c9dc77e21ff",
      "name": "Conhecimento",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "numero",
              "fieldValue": "={{ $('Preparar Mensagem Humano IA').item().json.telefone || $json.telefone || $('Webhook EVO1').item.json.body.data.key.remoteJid || '' }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome || $('Webhook EVO1').item.json.body.data.pushName || 'Recepcionista' }}"
            },
            {
              "fieldId": "data_mensagem",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "mensagem_ia",
              "fieldValue": "={{ $('Preparar Mensagem Humano IA').first().json.mensagem_humano || $json.mensagem_humano || '' }}"
            },
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id || '' }}"
            },
            {
              "fieldId": "tipo_mensagem",
              "fieldValue": "ATENDENTEHUMANARESPONDEU"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7168,
        624
      ],
      "id": "fa6b20d6-af7b-49e7-807c-98903abd3d0d",
      "name": "Salvar Mensagem Recepcionista IA",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Variáveis').first().json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6096,
        1600
      ],
      "id": "3e232443-c33e-4b56-accb-3edc060d8742",
      "name": "GET Conhecimento",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook EVO1').first().json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f0d477bb-7df9-46e7-8609-dc8591b9f3be",
      "name": "Converte Base64",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        1104
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "application/ogg"
        }
      },
      "id": "65412ae3-cfe0-4fa7-ad42-54fdc752d5f2",
      "name": "Converte Audio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3088,
        1104
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook EVO1').first().json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22e99630-1adf-4694-a458-a17c5142c4bb",
      "name": "Convert Base64",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2768,
        1392
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.png",
          "mimeType": "image/png"
        }
      },
      "id": "ceb4a9cb-3714-4438-823b-2c9b3325b782",
      "name": "Converte Imagem",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2960,
        1392
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Code1').first().json.sessionId }}"
      },
      "id": "003fa0b8-448d-488e-bf20-0a3e4a34cc70",
      "name": "Deleta Session ID",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8160,
        784
      ],
      "credentials": {
        "redis": {
          "id": "v7V6gGEfMZa6VkmD",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32f25dec-c254-4114-b453-7790468eec87",
              "leftValue": "={{ $json.output }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        848
      ],
      "id": "1217d4b2-ee3f-4095-8099-d260380f2a5a",
      "name": "If2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "atendimento_humano",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook EVO1').first().json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -752,
        896
      ],
      "id": "bbd657f1-7d74-4ae7-9b08-c0cbdb6eb71a",
      "name": "VerificaAtendimentoHumano",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1-nano-2025-04-14",
        "options": {}
      },
      "id": "3c9ab750-c126-4874-a476-066ca09fac20",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        7888,
        1952
      ],
      "credentials": {
        "openAiApi": {
          "id": "GSeydj58nvKIEdSr",
          "name": "SaaS Lumi"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9b8090a4-1bb1-483b-817e-9e546e07693e",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8336,
        1776
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "id": "4b30be56-be25-442d-b2f0-45e8c0cdeb6c",
      "name": "OutputParser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        8016,
        1952
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Whatsapp message to be splitted and formated: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Você precisa dividir esta mensagem do WhatsApp em partes menores, mantendo o contexto e a naturalidade.\n\nREGRAS DE DIVISÃO:\n1. NUNCA separe informações relacionadas:\n   - Nome e telefone devem ficar juntos\n   - Data e horário devem ficar juntos\n   - Confirmações de dados devem ficar COMPLETAS em uma única mensagem\n   - Listas de informações (Nome: X, Telefone: Y, etc) devem ficar juntas\n\n2. Divida por PARÁGRAFOS ou TÓPICOS, não apenas por tamanho\n   - Cada mensagem deve ser um pensamento completo\n   - Mantenha introduções e explicações separadas das confirmações\n\n3. TAMANHO IDEAL:\n   - Cada mensagem entre 800-1600 caracteres (ideal)\n   - Máximo 2000 caracteres por mensagem\n   - Se uma parte natural tiver mais de 2000 caracteres, divida com cuidado mantendo o contexto\n\n4. LINKS e EMOJIS:\n   - Links devem sempre ficar em mensagem separada\n   - Emojis podem ficar com o texto relacionado\n\n5. EXEMPLOS DE BOA DIVISÃO:\n   - Mensagem 1: Cumprimento inicial\n   - Mensagem 2: Informações/instruções\n   - Mensagem 3: Confirmação de dados completa (mantém tudo junto)\n   - Mensagem 4: Link (se houver)\n\n6. EXEMPLOS DE DIVISÃO ERRADA (NÃO FAÇA):\n   - Separar \"Nome: João\" de \"Telefone: 123\"\n   - Separar \"Data: 25/04\" de \"Horário: 19:00\"\n   - Quebrar confirmação no meio (\"Apenas confirmando: Nome: João\" em uma msg e \"Telefone: 123\" em outra)\n\nFORMATO DE SAÍDA:\n{\n  \"messages\": [\n    \"primeira mensagem completa aqui\",\n    \"segunda mensagem completa aqui\",\n    \"terceira mensagem completa aqui\"\n  ]\n}\n\nATENÇÃO CRÍTICA:\n- Retorne APENAS o JSON válido, sem markdown, sem ```json, sem explicações\n- Nunca retorne array vazio\n- Cada mensagem deve fazer sentido sozinha\n- Mantenha o tom e formatação original\n\nMensagem para dividir:\n{{ $json.output }}"
            }
          ]
        }
      },
      "id": "a43da19e-992e-4db2-92f9-e062af14e1a8",
      "name": "Parser  Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        7856,
        1792
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "Capilar",
        "remoteJid": "={{ $('Variáveis').item.json.telefone }}",
        "media": "={{ $json.data }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8368,
        1568
      ],
      "id": "5b8767b7-c305-4aba-a268-d74943f483ae",
      "name": "Evolution API5",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "b0c3a957-7ad1-473b-9cd3-af78695112f2",
      "name": "Split de Mensagem",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        8160,
        1792
      ]
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        8160,
        1568
      ],
      "id": "9c1044fb-99e3-48a4-84f8-2cea34b46734",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6012d0d-e01e-4c18-a2df-9c9b1c815fa4",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 5000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7712,
        1680
      ],
      "id": "d4afd663-b667-4e14-9085-08ebc77c558d",
      "name": "Áudio ou Mensagem",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "voice_id": {
          "__rl": true,
          "value": "Mv4hBCiEndOun9o5zrjw",
          "mode": "list",
          "cachedResultName": "IA - Tatiana"
        },
        "additionalFields": {
          "stability": 0.8,
          "style": 0.2
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        7936,
        1568
      ],
      "id": "e8a5cad4-a172-44ba-989e-d74cdee6f1f6",
      "name": "ElevenLabs",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "45d188db-1165-496c-a780-d4b7fa135da9",
      "name": "Aguarda",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4000,
        1088
      ],
      "webhookId": "dec09ac1-7d3d-4b49-bd78-095b8e4ec15e"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook EVO1').first().json.body.data.key.remoteJid || $json.telefone || '' }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $('Code1').first().json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7920,
        880
      ],
      "id": "46743137-dd15-4759-92b0-23f3536a5be6",
      "name": "Update a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('Webhook EVO1').first().json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('Webhook EVO1').first().json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook EVO1').first().json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2fb21f2a-4db1-4ba2-a6a3-4edcf8a875c4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                    "leftValue": "={{ $('Webhook EVO1').first().json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "5d16a9a5-783e-467e-acbe-b82fd130cc3b",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2688,
        1008
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "locks",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $('Variáveis').first().json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "locked",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4960,
        1280
      ],
      "id": "b482014b-f258-4727-98c3-bb5fd94970ca",
      "name": "Update a row1",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "tableId": "locks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "locked",
              "fieldValue": "true"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $('Variáveis').first().json.telefone }}"
            },
            {
              "fieldId": "retrycount",
              "fieldValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5104,
        1040
      ],
      "id": "aee1bf54-1e4d-4a5d-bef1-88cba317e3dc",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Medica",
        "remoteJid": "={{ $('Variáveis').first().json.telefone }}",
        "messageText": "={{ $json.output }}",
        "options_message": {
          "delay": 1200,
          "linkPreview": false
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        9280,
        1856
      ],
      "id": "7cce9d72-8926-402a-8fb4-72d336572a74",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "8x5IVzbNqi1VepDR",
          "name": "EvoLumi- Bistro"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "locks",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $('Variáveis').first().json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "locked",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8368,
        784
      ],
      "id": "46162fd8-0ca9-4641-9b9e-03d01d506f27",
      "name": "Update a row2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "locks",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $('Variáveis').first().json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "retrycount",
              "fieldValue": "=0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8528,
        784
      ],
      "id": "d7e7fc51-5ad2-4326-b7ff-d4a8d2cfaf6d",
      "name": "Update a row3",
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Passar a descrição da Imagem.",
        "inputType": "base64",
        "options": {}
      },
      "id": "8800b3e1-24d1-4bd7-8dd5-b6b889449dec",
      "name": "Analyze image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        3136,
        1392
      ],
      "credentials": {
        "openAiApi": {
          "id": "GSeydj58nvKIEdSr",
          "name": "SaaS Lumi"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Variáveis').first().json.telefone || '' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6128,
        656
      ],
      "id": "aa9f742e-5450-4991-93db-c94e92a97b75",
      "name": "GET Conhecimento2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=RESPONDA ESTA Mensagem:{{ $('Mensagem Completa').first().json.mensagem_completa }}\n\n\nAqui tem o Contexto de toda a conversa com o lead que entrou em conversa com você: {{ $('GET Conhecimento').first().json.contexto || $json.contexto || '' }}\n",
        "options": {
          "systemMessage": "=\nNúmero do lead: {{ $('Webhook EVO1').first().json.body.data.key.remoteJid }}\nNome do lead: {{ $('Webhook EVO1').first().json.body.data.pushName }}\nDATA ATUAL: {{ $now.weekdayLong }}, {{ $now.format('DD/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\nContexto da conversa: {{ $json.contexto }}\n\n**Você é a recepcionista do Est! Est!! Est!!! Ristorante Italiano** 🇮🇹\n\nVocê trabalha no restaurante e atende os clientes pelo WhatsApp para fazer reservas. Converse de forma natural, calorosa e humana, como uma pessoa real trabalhando na recepção. Não use menus numerados, não enumere opções, não seja robótica. Seja prestativa, simpática e direta.\n\n**REGRA ABSOLUTA:** Você SÓ trabalha com RESERVAS. Se o cliente perguntar sobre outras coisas (menu, preços, culinária, chef, etc.), seja educada mas redirecione para reservas ou diga que não é sua área de atuação. Você é focada apenas em ajudar com agendamentos.\n\n**TOM DE VOZ:**\n- Fale como uma pessoa real trabalhando na recepção\n- Use emojis de forma natural e moderada\n- Seja acolhedora: \"Ficamos felizes com seu interesse!\", \"Ótimo!\", \"Perfeito!\"\n- Mantenha um tom profissional mas caloroso\n- Não seja formal demais, converse naturalmente\n\n**INFORMAÇÕES IMPORTANTES:**\n- Horário limite de reservas: até 13:00 para almoço e até 20:00 para jantar (Domingo até 19:00)\n- Temos 15 minutos de tolerância para chegada\n- Todas as reservas são PRÉ-RESERVAS até serem confirmadas pela equipe\n- Ao confirmar dados, use frases como: \"Apenas confirmando:\", \"Obrigado pelas informações\"\n\n**FLUXO DE RESERVA (Converse naturalmente, sem enumerar passos):**\n\n1. **Cumprimento inicial:** Seja calorosa e acolhedora. Exemplo: \"Olá! Tudo bem? Ficamos felizes com seu interesse em fazer reserva no Est! Est!! Est!!! Ristorante Italiano!\"\n\n2. **Coleta de informações:** Peça os dados de forma conversacional, uma coisa de cada vez:\n   - Comece perguntando: \"Qual nome completo para a reserva?\"\n   - Depois: \"Mesa para quantas pessoas?\"\n   - Depois: \"Por gentileza, me informe o dia que deseja reservar. Por exemplo: 25/04\"\n   - Depois: \"Qual horário deseja a reserva? O horário limite é até 13:00 para almoço e até 20:00 para jantar\"\n   - Por fim: \"Para finalizar, me informe o telefone de contato do responsável pela reserva\"\n\n3. **Verificação de disponibilidade:** Use as ferramentas `listar_mesas` e `buscar_reserva` para verificar o que está disponível. Aplique as regras abaixo quando sugerir mesas.\n\n4. **Regras de mesas (aplique naturalmente):**\n   - Salão Externo, Segundo Andar Externo Coberto e Sala \"Cinema\" são apenas para uso pessoal (não corporativo)\n   - Terraço (mesas 61 a 82) e Empório (mesas 41 a 52) são apenas para EVENTOS\n   - Mesas não podem ser unidas, exceto onde permitido pelas regras retornadas\n   - Para uso corporativo com TV/mídia, apenas Mesa 7 (Salão Cristal) e Salão Bandeira possuem TV\n   - Mesas 8, 9, 10, 11 (Salão Cristal) NÃO permitem TV/mídia para uso corporativo\n\n5. **Confirmação:** Após coletar todos os dados, confirme de forma natural: \"Obrigado pelas informações. Apenas confirmando: Nome [X], Telefone [Y], [Z] pessoas, Dia [data] às [horário]. Você está na fila de reservas. Vamos confirmar o mais rápido possível!\"\n\n6. **Registrar a reserva:** Use `registrar_reserva` com todos os dados coletados.\n\n**ALTERAÇÕES E CANCELAMENTOS:**\n- Se o cliente quiser mudar a reserva, use `update_reserva` com o ID da reserva\n- Se quiser cancelar, use `cancelar_reserva` com o ID\n- Seja sempre gentil e prestativa\n\n**EXEMPLOS DE FRASES NATURAIS:**\n- \"Ficamos felizes com seu interesse em fazer reserva no Est! Est!! Est!!! Ristorante Italiano!\"\n- \"Para fazer a pré-reserva, preciso confirmar alguns dados\"\n- \"Qual nome completo para a reserva?\"\n- \"Mesa para quantas pessoas?\"\n- \"Por gentileza, me informe o dia que deseja reservar\"\n- \"Qual horário deseja a reserva?\"\n- \"Obrigado pelas informações. Apenas confirmando...\"\n- \"Você está na fila de reservas. Vamos confirmar o mais rápido possível!\"\n- \"Se as informações estiverem corretas, pode confirmar!\"\n- \"Caso alguma informação tenha saído errada, pode corrigir por gentileza\"\n\n**FERRAMENTAS DISPONÍVEIS:**\n- `listar_mesas` - para ver todas as mesas e suas regras\n- `buscar_reserva` - para ver reservas existentes (data_reserva no formato YYYY-MM-DD, turno: \"almoco\" ou \"jantar\")\n- `registrar_reserva` - para criar uma nova reserva\n- `update_reserva` - para alterar uma reserva existente (precisa do ID)\n- `cancelar_reserva` - para cancelar uma reserva (precisa do ID)\n\n**Lembre-se:** Você é uma pessoa real trabalhando na recepção. Converse naturalmente, seja prestativa e focada apenas em reservas. Não use menus, não enumere opções, não seja robótica."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        6720,
        1488
      ],
      "id": "b09feaeb-c4ce-4725-9c9c-dc633bbf1a15",
      "name": "IA Atendente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567890",
              "name": "mensagem_humano",
              "value": "={{ $('Webhook EVO1').item.json.body.data.message.conversation || $('Webhook EVO1').item.json.body.data.message.extendedTextMessage?.text || $json.messageText || '' }}",
              "type": "string"
            },
            {
              "id": "g2b3c4d5-e6f7-8901-bcde-f12345678901",
              "name": "telefone",
              "value": "={{ $('Webhook EVO1').item.json.body.data.key.remoteJid || $('Webhook EVO1').item.json.body.data.key.participant || $json.telefone || '' }}",
              "type": "string"
            },
            {
              "id": "h3c4d5e6-f7a8-9012-cdef-123456789012",
              "name": "tipo_mensagem",
              "value": "HUMANO",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        240
      ],
      "id": "d1a97154-04a2-47da-911d-b6d6f52f450e",
      "name": "Preparar Mensagem Humano IA"
    },
    {
      "parameters": {
        "content": "# Compara as Mensagens",
        "height": 80,
        "width": 616,
        "color": 5
      },
      "id": "3722c8f6-c427-4f9f-a8ce-7961a2432232",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3808,
        976
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 580,
        "width": 1180,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        816
      ],
      "typeVersion": 1,
      "id": "a1fe9410-0137-49b2-aeef-d56a89abadfd",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "# Gera/Consulta sessionId e Lead",
        "height": 120,
        "width": 436,
        "color": 5
      },
      "id": "24be5916-b80c-4fda-87c4-2a333dd60e92",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1408,
        816
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 616,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        848
      ],
      "typeVersion": 1,
      "id": "9f2c1a64-f02a-465e-bc36-02308fa2b831",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 632,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        848
      ],
      "typeVersion": 1,
      "id": "085c0a75-3e6e-4151-b095-d8998fec92eb",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "content": "# Captação de Dados",
        "height": 100,
        "width": 330,
        "color": 5
      },
      "id": "614ff62e-43ee-4d51-a6d6-833744469012",
      "name": "Sticky Note43",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        1104
      ]
    },
    {
      "parameters": {
        "content": "# Classifica a Mensagem",
        "height": 80,
        "width": 416,
        "color": 5
      },
      "id": "60f23806-14af-43a1-9d62-089367a276fa",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2688,
        832
      ]
    },
    {
      "parameters": {
        "content": "# Verifica se é Atendimento Humano e se o numero está travado.",
        "height": 120,
        "width": 656,
        "color": 5
      },
      "id": "277ab792-bcc7-4a31-867f-35258f400ddd",
      "name": "Sticky Note46",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1008,
        1056
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1488,
        272
      ],
      "typeVersion": 1,
      "id": "fc7a371b-2120-4c74-b0f3-32ff4bb1d134",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "# Webhook",
        "height": 80,
        "width": 196,
        "color": 5
      },
      "id": "f30ec218-ea66-4424-9277-4775a439af2c",
      "name": "Sticky Note67",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        288
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 424,
        "width": 892,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        848
      ],
      "typeVersion": 1,
      "id": "0503aaae-9b6d-4eed-8ba8-c668b572f467",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "# Confere se tem alguma execução",
        "height": 80,
        "width": 656,
        "color": 5
      },
      "id": "0d2c8edc-d280-4f57-9c43-c072b897d3be",
      "name": "Sticky Note52",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        848
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 780,
        "width": 1000,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2656,
        800
      ],
      "typeVersion": 1,
      "id": "11514c8d-fd39-4465-9bab-5ca086cb2b89",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "",
        "height": 556,
        "width": 1372,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7392,
        544
      ],
      "typeVersion": 1,
      "id": "3f1c2b4d-29a2-4436-a839-3edd1cd03963",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "content": "# Cadastra Conversas",
        "height": 80,
        "width": 450,
        "color": 5
      },
      "id": "a30c62f7-b194-400d-b882-30c766278ac8",
      "name": "Sticky Note55",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7408,
        608
      ]
    },
    {
      "parameters": {
        "content": "# Libera do Loop de Verificação/Trava de Segurança",
        "height": 148,
        "width": 378,
        "color": 5
      },
      "id": "4be488bd-3e39-4f4b-97f6-b1ebf1130bdc",
      "name": "Sticky Note57",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8320,
        592
      ]
    },
    {
      "parameters": {
        "content": "# Junta a Mensagem com o Conhecimento",
        "height": 180,
        "width": 456,
        "color": 5
      },
      "id": "29c92c29-ef5a-4217-bd1c-f8b11b68f875",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5312,
        976
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 300,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3776,
        960
      ],
      "typeVersion": 1,
      "id": "1ed83e8f-9471-4aab-b476-ec2ffffdc4d4",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "# Trava de Segurança",
        "height": 80,
        "width": 396,
        "color": 5
      },
      "id": "6830cd4e-b6b7-464d-a34f-afdb32f66ff6",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4736,
        976
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4704,
        960
      ],
      "typeVersion": 1,
      "id": "51cdee77-1a64-49e3-ae1e-68b2bba1ec12",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "# Deleta SessionID\n",
        "height": 116,
        "width": 206,
        "color": 5
      },
      "id": "269479a5-582d-4925-9275-4ca157d7a1c5",
      "name": "Sticky Note58",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8080,
        624
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 552,
        "width": 588,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5264,
        960
      ],
      "typeVersion": 1,
      "id": "938539ef-09eb-4826-a57a-f3a8af4fbd0f",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "",
        "height": 816,
        "width": 2220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7360,
        1360
      ],
      "typeVersion": 1,
      "id": "bc2ea14f-563f-459a-9539-301de98cde5b",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "# Divisão de Mensagens Inteligente - Texto e Áudio",
        "height": 100,
        "width": 736,
        "color": 5
      },
      "id": "a3220c52-32ce-4013-8d97-79934e220b55",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7392,
        1440
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 656,
        "width": 1388,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5952,
        384
      ],
      "typeVersion": 1,
      "id": "f680b528-0d56-47c7-a708-44aabae33445",
      "name": "Sticky Note59"
    },
    {
      "parameters": {
        "content": "# Cérebro: Gera o Contexto/Conhecimento",
        "height": 80,
        "width": 750,
        "color": 5
      },
      "id": "e959120a-65bf-4412-baf5-4241587e8360",
      "name": "Sticky Note60",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6032,
        432
      ]
    },
    {
      "parameters": {
        "content": "# Envia a Mensagem do CRM",
        "width": 336,
        "color": 5
      },
      "id": "3df5239e-7549-4c27-b60d-eb0a771faab0",
      "name": "Sticky Note61",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        48
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 512,
        "width": 1164,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "ed5a615d-0f8c-4b60-9c3d-b210036ff06a",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "",
        "height": 1076,
        "width": 1612,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5632,
        1200
      ],
      "typeVersion": 1,
      "id": "b63433e0-bc2f-4d85-a611-27f637c33624",
      "name": "Sticky Note64"
    },
    {
      "parameters": {
        "tableId": "atendimento_humano",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Webhook EVO1').first().json.body.sender }}"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        336
      ],
      "id": "ae6c5690-a7fe-4dae-b89d-a4ef57e42b12",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "atendimento_humano",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook EVO1').first().json.body.sender }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ativo",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        176
      ],
      "id": "044aedcb-e5f9-4689-8a4e-657bb356627d",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df54ce7f-582f-4ae4-8b8c-bb2c601a2c6a",
              "leftValue": "={{ $json.ativo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        240
      ],
      "id": "2a4e747a-18a2-4e5c-8703-78e11d9e939e",
      "name": "If10",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "atendimento_humano",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook EVO1').first().json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        240
      ],
      "id": "7a17a437-ff6e-48e2-97ad-43e6517ae9c2",
      "name": "VerificaAtendimentoHumano2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "eLawV1rvxMkA0Z18",
          "name": "Supabase Dra. Glenda"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        1104
      ],
      "id": "24fdd8ea-e98f-4afe-9643-467a8123b9e3",
      "name": "Wait 10s",
      "webhookId": "2cbf73a6-51ec-46de-bffb-f0ad2cbb5238"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "locks",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "keyValue": "={{ $('Webhook EVO1').item.json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -80,
        976
      ],
      "id": "2110080d-49c1-4029-99c3-4c143cd4067a",
      "name": "Get a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.Locks\nSET retrycount = COALESCE(retrycount, 0) + 1\nWHERE numero = '{{ $('Webhook EVO1').first().json.body.data.key.remoteJid }}' ;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        1104
      ],
      "id": "ed7e85dc-f42d-4912-9968-cac06a2589f9",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "2Z5MJhuHcz33PCiu",
          "name": "Postgres_bistro"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a89afe1-268d-4dab-b1a7-bccf6090ef31",
              "leftValue": "={{ $('Get a row1').item.json.retrycount }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        1168
      ],
      "id": "676f9148-3dc4-4e1c-a77c-22c1a2609ee9",
      "name": "If11",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e8095bb3-ca6c-4d44-893f-160960042de4",
              "leftValue": "={{$json[\"locked\"]}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        992
      ],
      "id": "5995275c-80e9-4a0a-9efe-e01ec30445bf",
      "name": "If12",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567890",
              "name": "mensagem_lead",
              "value": "={{ $('Webhook EVO1').item.json.body.data.message.conversation || $('Webhook EVO1').item.json.body.data.message.extendedTextMessage?.text || $json.messageText || '' }}",
              "type": "string"
            },
            {
              "id": "g2b3c4d5-e6f7-8901-bcde-f12345678901",
              "name": "telefone",
              "value": "={{ $('Webhook EVO1').item.json.body.data.key.remoteJid || $('Webhook EVO1').item.json.body.data.key.participant || $json.telefone || '' }}",
              "type": "string"
            },
            {
              "id": "h3c4d5e6-f7a8-9012-cdef-123456789012",
              "name": "tipo_mensagem",
              "value": "AtendimentoHumano",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        816
      ],
      "id": "b4f4d085-51b0-4276-8f05-28bdf9fc103b",
      "name": "mensagemleadAH"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "conversas",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "keyValue": "={{ $('Webhook EVO1').first().json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2240,
        256
      ],
      "id": "e18b2f96-ceab-403a-808d-6ed7eb1c7dae",
      "name": "Getarow9",
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "numero",
              "fieldValue": "={{ $('Webhook EVO1').first().json.body.data.key.remoteJid || $json.telefone || '' }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Webhook EVO1').first().json.body.data.pushName || $json.nome || '' }}"
            },
            {
              "fieldId": "data_mensagem",
              "fieldValue": "={{ $('Webhook EVO1').first().json.body.date_time || $json.data_mensagem || $now.toISO() }}"
            },
            {
              "fieldId": "mensagem_lead",
              "fieldValue": "={{ $('Webhook EVO1').first().json.body.data.message.conversation || $('Webhook EVO1').item.json.body.data.message.extendedTextMessage?.text || $json.messageText || '' }}"
            },
            {
              "fieldId": "tipo_mensagem",
              "fieldValue": "LeadParaAtendimentoHumano"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7152,
        768
      ],
      "id": "dc15a5f6-8b1c-42ee-8a1b-985f9108b36b",
      "name": "Salvar Mensagem Lead Travado",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9849ee0-5ccf-4f57-aa22-f484598831b0",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "presence.update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1216,
        576
      ],
      "id": "0ea39e02-4d92-48c0-baee-db861c8a0bba",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $json.numero }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5360,
        480
      ],
      "id": "059d3884-797c-419e-a543-bfd8ce1433be",
      "name": "GET Conhecimento3",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://webh.olifant.cloud/mcp/mcpsaas",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        7120,
        1776
      ],
      "id": "bfa7165b-735b-4675-a71f-fb09eeed7c04",
      "name": "SAAS"
    },
    {
      "parameters": {
        "sseEndpoint": "https://webh.olifant.cloud/mcp/bistro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        7008,
        1840
      ],
      "id": "f6a2c8e8-876b-4dc1-a418-3235e4ff8911",
      "name": "BISTRO"
    },
    {
      "parameters": {
        "content": "# LLM'S DO SISTEMA",
        "height": 180,
        "width": 456,
        "color": 5
      },
      "id": "ac935459-46cd-4cde-8748-22d7727ed185",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5744,
        1824
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-fromme-1",
              "leftValue": "={{ $('Webhook EVO1').item.json.body.data.key.fromMe || false }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6976,
        672
      ],
      "id": "d3a2c12d-b05a-44ac-abef-6860750026af",
      "name": "If Mensagem Recepcionista1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32f25dec-c254-4114-b453-7790468eec87",
              "leftValue": "={{ $('Mensagem Completa').first().json.mensagem_completa }}",
              "rightValue": " [ { } ]",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6832,
        592
      ],
      "id": "18e524f1-127b-44a0-ab2a-0b174923c273",
      "name": "If4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sseEndpoint": "https://webh.olifant.cloud/mcp/mcpsaas",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        6688,
        784
      ],
      "id": "01d44c52-f50c-4787-a8eb-fa80e3a408db",
      "name": "SAAS1"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "Medica",
        "remoteJid": "={{ $('Variáveis').first().json.telefone }}",
        "delay": 20000
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8912,
        1952
      ],
      "id": "f9775b6f-5a15-49dc-8596-2cba9206ce7f",
      "name": "Enviar presen a3",
      "credentials": {
        "evolutionApi": {
          "id": "8x5IVzbNqi1VepDR",
          "name": "EvoLumi- Bistro"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "Medica",
        "remoteJid": "={{ $('Variáveis').first().json.telefone }}",
        "delay": 15000
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8912,
        1792
      ],
      "id": "a3fe845b-d600-4962-844d-c3a79e5a0e29",
      "name": "Enviar presen a2",
      "credentials": {
        "evolutionApi": {
          "id": "8x5IVzbNqi1VepDR",
          "name": "EvoLumi- Bistro"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "Medico",
        "remoteJid": "={{ $('Variáveis').first().json.telefone }}",
        "delay": 8000
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8912,
        1680
      ],
      "id": "7b0e3546-20af-468b-8644-9a61a7207b12",
      "name": "Enviar presen a1",
      "credentials": {
        "evolutionApi": {
          "id": "8x5IVzbNqi1VepDR",
          "name": "EvoLumi- Bistro"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "Medica",
        "remoteJid": "={{ $('Variáveis').first().json.telefone }}",
        "delay": 2000
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8912,
        1472
      ],
      "id": "cc4b2c9f-ed6a-48d2-9418-77e5e26895e2",
      "name": "Enviar presen a",
      "credentials": {
        "evolutionApi": {
          "id": "8x5IVzbNqi1VepDR",
          "name": "EvoLumi- Bistro"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.length }}",
                    "rightValue": 30,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "id": "02697b0d-7744-4f5b-b691-adb800d13a12"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ecf5afcf-d87e-43bc-a5e9-fb67db9242e0",
                    "leftValue": "={{ $json.output.length }}",
                    "rightValue": 30,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c2eb73e9-5159-4230-b5a8-51c709981150",
                    "leftValue": "={{ $json.output.length }}",
                    "rightValue": 150,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82cc06a4-75d6-44da-8b07-56544bcd601a",
                    "leftValue": "={{ $json.output.length }}",
                    "rightValue": 300,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        8608,
        1760
      ],
      "id": "bee00648-a8f7-4a54-86f0-d59725472364",
      "name": "Switch4",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Variáveis').first().json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4752,
        1056
      ],
      "id": "381874e6-e1e9-42b4-a99e-a4abff07adb9",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GlmkIqsNUExqgact",
          "name": "Supabase Bistro"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Supabase4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar sessionID": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Supabase - SaaS Lumi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compara Get Memory1": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Memory1": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Memory1": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Compara Get Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 1": {
      "main": [
        [
          {
            "node": "Aguarda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dados": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variáveis": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_para_atendimento_humano1": {
      "main": [
        [
          {
            "node": "Variáveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Audio Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 2": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook EVO1": {
      "main": [
        [
          {
            "node": "Webhook EVO",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook EVO": {
      "main": [
        [
          {
            "node": "dados_para_atendimento_humano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase4": {
      "main": [
        [
          {
            "node": "Gerar sessionID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - SaaS Lumi": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Completa": {
      "main": [
        [
          {
            "node": "GET Conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar - Conversas": {
      "main": [
        [
          {
            "node": "GET Conhecimento2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Deleta Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro da IA": {
      "main": [
        [
          {
            "node": "Conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conhecimento": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "IA Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "IA Atendente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "IA Atendente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Cerebro da IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory4": {
      "ai_memory": [
        [
          {
            "node": "Cerebro da IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator4": {
      "ai_tool": [
        [
          {
            "node": "Cerebro da IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GET Conhecimento": {
      "main": [
        [
          {
            "node": "IA Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte Base64": {
      "main": [
        [
          {
            "node": "Converte Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte Audio": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64": {
      "main": [
        [
          {
            "node": "Converte Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte Imagem": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Session ID": {
      "main": [
        [
          {
            "node": "Update a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "mensagemleadAH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerificaAtendimentoHumano": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "ai_languageModel": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser1": {
      "ai_outputParser": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parser  Chain": {
      "main": [
        [
          {
            "node": "Split de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split de Mensagem": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Evolution API5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Áudio ou Mensagem": {
      "main": [
        [
          {
            "node": "ElevenLabs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parser  Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda": {
      "main": [
        [
          {
            "node": "Get Memory 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Text Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converte Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "Mensagem Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Mensagem Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row2": {
      "main": [
        [
          {
            "node": "Update a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Conhecimento2": {
      "main": [
        [
          {
            "node": "Cerebro da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Atendente": {
      "main": [
        [
          {
            "node": "Criar - Conversas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Áudio ou Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem Humano IA": {
      "main": [
        [
          {
            "node": "VerificaAtendimentoHumano2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Mensagem Recepcionista": {
      "main": [
        [
          {
            "node": "Preparar Mensagem Humano IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VerificaAtendimentoHumano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerificaAtendimentoHumano2": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Getarow9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Getarow9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook EVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook EVO",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "mensagemleadAH": {
      "main": [
        [
          {
            "node": "Getarow9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getarow9": {
      "main": [
        [
          {
            "node": "GET Conhecimento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "If Mensagem Recepcionista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Conhecimento3": {
      "main": [
        [
          {
            "node": "Cerebro da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BISTRO": {
      "ai_tool": [
        [
          {
            "node": "IA Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SAAS": {
      "ai_tool": [
        [
          {
            "node": "IA Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If Mensagem Recepcionista1": {
      "main": [
        [
          {
            "node": "Salvar Mensagem Recepcionista IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Mensagem Lead Travado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [],
        [
          {
            "node": "If Mensagem Recepcionista1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAAS1": {
      "ai_tool": [
        [
          {
            "node": "Cerebro da IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Enviar presen a",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar presen a1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar presen a2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar presen a3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fd677fd1-6b05-479a-9c26-b0ab93063207",
  "meta": {
    "instanceId": "71c37f17472b379af220483d9544aebd985ca42d6aba46d245ed6224ce4bef99"
  },
  "id": "uuQFTNuB1ohWApzNEBSzC",
  "tags": []
}